.player {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.time-control {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    width: 100%;
    padding: 1rem 0;
    cursor: pointer;
    -webkit-appearance: none;
    background-color: transparent;
  }

  p {
    // padding: 1rem;
    text-align: center;
    width: 90px;
  }
}

.play-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 30%;
  svg {
    cursor: pointer;
  }
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  background: transparent;
  border: none;
}

.track {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: lightblue;
}

.animate-track {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(220, 220, 220);
  transform: translateX(0%);
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .time-control {
    width: 80%;
  }
  .play-control {
    width: 60%;
  }
}
