@use "./song";
@use "./player";
@use "./library";
@use "./nav";

$background-dark : #1F2124;
$background-light: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  color: rgb(54, 54, 54);
}

h3,
h4 {
  font-weight: 400;
  color: rgb(100, 100, 100);
}

.App {
  transition: all 0.5s ease;
}

.library-active{
  margin-left: 30%;
}
